@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a professional dark background as a default */
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}

/* Optional: Custom scrollbar to match your dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #2563eb; /* Blue-600 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}